* {
  margin: 0;
}

.hero-banner {
  background-color: #1f2937;
  color: white;
  padding-top: 20px;
  height: 700px;
  display: flex;
  /* flex-direction: row; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  border: 2px solid #3882f6;
}

.menu {
  border: 2px solid #3882f6;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.header h1 {
  font-size: 24px;
  color: #f9faf8;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  border: 2px solid #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left {
  /* border: 1px solid; */
  width: 400px;
}

.hero-right {
  border: 1px solid;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero button {
  margin-top: 12px;
  font-size: 24px;
  color: white;
  background-color: #3882f6;
  border-radius: 8px;
  border: none;
  padding: 15px;
  width: 150px;
}

.carousel {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.carousel-title {
  font-size: 36px;
  font: extra-bold;
  color: #1f2937;
  margin-top: 30px;
  text-align: center;
}

.carousel-item {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  text-align: center;
}

.carousel-item img {
  width: 150px;
  height: 150px;
  border: 1px solid;
  border-color: blue;
  border-radius: 20px;
}

.quote-container {
  background-color: #e5e7eb;
  min-height: 400px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 750px;
  
  
}

.quote {
  font-size: 36px;
  font-style: italic;
  
}

.quote-author {
  align-self: end;
  
}

.call-to-arms {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  width: 1200px;
  height: 150px;
  border-radius: 10px;
  color: #ffffff;
}
.call-content-container p {
  color: #e5e7eb;
  font-weight: 100;
}

.call-to-arms-button button {
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #e5e7eb;
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  background: #1f2937;
  height: 100px;
  font-size: 24px;
  font-weight: lighter;

}

